html, body {
  background-color: black;
  display: flex;

  .container {
    width: 800px;
    background-color: white;
    display: block;
    #app {
      margin: 20px;
      .header:hover, {
        background-color: #6844b7;
        border-bottom: 5px solid #572ab8;
      }
      .header{
        background-color: #9e38b0;
        margin-top: 2.5px;
        margin-bottom: 0;
        padding: 40px 20px;
        color: white;
        font-family: "Verdana", Geneva, Tahoma, sans-serif;

        border-bottom: 5px solid #7b118e;
      }
      p {
        margin: 0;
        font-family: "Verdana", Geneva, Tahoma, sans-serif;
        font-size: 1.1em;
      }
      #arrow1, #arrow2, #arrow3 {
        float: right;
      }
      .mystyle {
        width: 100%;
        padding: 25px;
        background-color: white;
        color: black;
        box-sizing: border-box;
        /*Add transition for better UX*/
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        border: 2px solid lightgray;
        margin-top: 0;
      }
      .rotation /*added fallback for older browsers*/{
        /* Safari */
      -webkit-transform: rotate(-90deg);
      /* Firefox */
      -moz-transform: rotate(-90deg);
      /* IE */
      -ms-transform: rotate(-90deg);
      /* Opera */
      -o-transform: rotate(-90deg);
      }
    }
  }
}



/*Media Query - not needed for this project, simple component not full webpage*/
// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }


