html, body {
  background-color: black;
  display: flex;

  .container {
    width: 800px;
    // min-height: 540px;
    background-color: white;
    // align-content: center;
    // align-self: center;
    
    #app {
      margin: 20px;
      .header:hover, /*.header:hover*/  {
        background-color: #6844b7;
      }
      .header{
        background-color: #9e38b0;
        margin-top: 2.5px;
        margin-bottom: 2.5px;
        padding: 40px 20px;
        color: white;
        font-family: "Verdana", Geneva, Tahoma, sans-serif;
      }
      p {
        margin: 0;
        font-family: "Verdana", Geneva, Tahoma, sans-serif;
        font-size: 1.1em;
      }
      #arrow {
        float: right;
      }
    }
  }
}

.mystyle {
  width: 100%;
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
  box-sizing: border-box;
}