html {
  background-color: black;
  display: flex;

  .container {
    width: 800px;
    height: 540px;
    // position: relative;
    background-color: white;
    // top: 50%;
    // left: 50%;

    // justify-content: center;
    // align-items: center;
    // align-self: center;

    // #app {
//       height: 100%;
//       width: 100%;
//       // height: 100px;
//       // padding: 20px;
      // position: absolute;


//       .header {
//         background-color: #6844b7;
        
//         h1.header:hover {
//             background-color: #9e38b0;
//           }
//       }
    // }  
  }
}


.mystyle {
  width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 25px;
  box-sizing: border-box;
}